<div class= 'post-info'>
<h1>User info</h1>
<div class= 'users-info'>
<img src="<%= @user.photo %>" alt="user photo" class="img">
<div class= user-list>
<h2><%= @user.name %></h2>
<p class= 'postscounter'>Number of Posts: <%= @user.postsCounter %></p>
</div>
</div>
<p>Bio:</p>
<p class= 'bio'> <%= @user.bio %></p>


<h1><%= link_to 'Posts', user_posts_path(@user) %></h1>

<div>
    <% @user.recent_posts.each do |post| %>
        <h3 class='user-posts'> Post #<%= post.id %> <%= link_to post.title, user_post_path(@user, post) %>
        </h3>
        <p><%= post.text %> </p>
        <p class= 'user-comments-likes'>Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %></p>
    <% end %>

</div>
        <h2><%= link_to "New Post", new_user_post_path(@user) %></h2>
</div>
