<div class='post-info'>
  <h1>User's post info</h1>

  <div class= 'users-info'>
    <img src="<%= @post.author.photo %>" alt="user photo" class="img">
    <div class= user-list>
      <h2><%= @post.author.name %></h2>
      <p class= 'postscounter'>Number of Posts: <%= @post.author.postsCounter %></p>
    </div>
  </div>


    <h3 class='user-posts'> Post #<%= @post.id %> <%= @post.title %> by <%= @post.author.name%> </h3>
  <p><%= @post.text %> </p>
  <p class= 'user-comments-likes'>Comments: <%= @post.commentsCounter %>, Likes: <%= @post.likesCounter %></p>
    

  <h3>Here is the Comments for this post</h3>
  <div class= 'comments'>
    <% @post.recent_comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <div class='delete-comments' > <% if can? :destroy, comment %>
        <%= link_to "Delete Comment", user_post_comment_path(@post.author.id, @post.id, comment.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %></div> 
    <% end %>
  </div>
  <h2> <%= link_to "New Comment", new_user_post_comment_path(@user, @post) %> </h2>

<%= form_with model: @like, url: user_post_likes_path(@user, @post), local: true do |form| %>
    <h2><%= form.submit "Like" %></h2>
  <% end %>

  <h2> <%= link_to "Back to Posts", user_posts_path(@user) %> </h2>
</div>
