<div class='post-info'>
  <h1>User's post info</h1>

  <div class= 'users-info'>
    <img src="<%= @post.author.photo %>" alt="user photo" class="img">
    <div class= user-list>
      <h2><%= @post.author.name %></h2>
      <p class= 'postscounter'>Number of Posts: <%= @post.author.postsCounter %></p>
    </div>
  </div>


    <h3 class='user-posts'> Post #<%= @post.id %> <%= @post.title %> by <%= @post.author.name%> </h3>
  <p><%= @post.text %> </p>
  <p class= 'user-comments-likes'>Comments: <%= @post.commentsCounter %>, Likes: <%= @post.likesCounter %></p>
    

  <h3>Here is the Comments for this post</h3>
  <div class= 'comments'>
    <% @post.recent_comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>